<div id="myCarousel" class="carousel">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <img src="app/css/images/movies/fastfive.jpg"/>
      <div class="carousel-caption">
        <h4>Fast Five</h4>
      </div>
    </div>
    <div class="item">
      <img src="app/css/images/movies/avengers.jpg"/>
      <div class="carousel-caption">
        <h4>Avengers</h4>
      </div>
    </div>
    <div class="item">
      <img src="app/css/images/movies/transformers.jpg"/>
      <div class="carousel-caption">
        <h4>Transformers 3</h4>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>