// Display a Javascript alert
<% if remotipart_submitted? %>
  //console.log(remotipart_submitted)
  alert('File submitted successfully by remotipart');
  /*$('#book').append('<div> <img src="/pdfs/4fbd4faf19665f7533000037/CV_1.jpg"/> </div>')
  $('#book').append('<div> <img src="/pdfs/4fbd4faf19665f7533000037/CV_2.jpg"/> </div>')
  $('#book').append('<div> <img src="/pdfs/4fbd4faf19665f7533000037/CV_3.jpg"/> </div>')
  $('#book').show();
  $('#book').turn();*/
<% else %>
  alert('File submitted successfully by native jquery-ujs')
<% end %>