<!DOCTYPE html>
<html>
  <head>
		<script data-main="js/main" type="text/javascript" src="js/libs/require/require.js"></script>
		<link rel="stylesheet" type="text/css" href="css/layout.css">
		<link rel="stylesheet" type="text/css" href="js/libs/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="js/libs/bootstrap/css/bootstrap-responsive.css">
	</head>
	<body class="background">
		<header>
				<div class="login">
				</div>
     </header>
		<div class="page">Loading</div>
		<div class="footer"></div>
	</body>
</div>

